@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #666;
  background-color: #cadaec;
  font-family: sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

header {
  background: url("../img/hang_man_bg1.jpg") center center/cover no-repeat;
  min-height: 170px;
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

header h1 {
  margin: 40px 0;
  font-size: 3.5em;
  text-align: center;
  font-family: 'UnifrakturMaguntia', cursive;
}

header span {
  text-transform: uppercase;
}

main {
  flex: 1;
  padding: 1.5em;
}

main:after {
  content: "\00a0"; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

main > article {
  display: flex;
  flex-direction: column;
  padding: 1em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'UnifrakturMaguntia', cursive;;
  color: rgb(24, 36, 207);
}

main > article > h2 {
  text-align: center;
  margin-bottom: 1.1em;
}

.start_btn_block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

#startGameBtn {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #d1d1d6;
  background: #175269;
  background: linear-gradient(90deg, rgb(54, 81, 138) 0%, rgb(76, 136, 185) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(48, 92, 173, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

#startGameBtn::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #2b5c9c;
  box-shadow: 0 0 60px rgb(54, 81, 138);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

#startGameBtn:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

#startGameBtn:hover::before, button:focus::before {
  opacity: 1;
}

#startGameBtn::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #3862b1;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

#startGameBtn:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 150px;
    opacity: 0;
  }
}

.hangman_image_block {
  text-align: center;
  margin: 10px;
}

ul {
  list-style-type: none;
}

footer {
  background-color: rgb(48, 47, 47);
  border-top: 1px solid #666;
  margin-top: 20px;
  padding: 20px;
  color: #fff;
  font-size: 1.25em;
  width: 100%;
  flex: none;
  text-align: center;
}

#gameBoard {
  padding: 20px 0;
}

#letterButtons {
  display: inline-flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#letterButtons button:not(last-child) {
  margin: 4px 4px;
  cursor: pointer;
  max-width: 70px;
  min-width: 70px;
  max-height: 50px;
}

#letterBoxes {
  text-align: center;
}

#letterBoxes li {
  display: inline-flex;
  margin-right: 10px;
}

#letterBoxes input {
  border: 1px solid #666;
  color: #666;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
  margin-top: 1em;
  padding: 20px 5px;
  text-align: center;
  width: 2em;
}

#message {
  padding-top: 20px;
  font-size: 1.5em;
  text-align: center;
  color: #2164bb;
}

.btn {
  -moz-user-select: text;
  background-color: rgb(0, 18, 66);
  /* background: transparent; */
  border-radius: 8px;
  border: 0;
  border: 2px solid #666;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font: inherit;
  line-height: normal;
  margin-bottom: 16px;
  margin: 0;
  overflow: visible;
  padding: 0;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn--stripe {
  overflow: hidden;
  position: relative;
}

/* .btn--stripe:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: -webkit-repeating-linear-gradient(
    45deg,
    #666,
    #666 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    45deg,
    #666,
    #666 1px,
    transparent 2px,
    transparent 5px
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
} */

.btn--stripe:disabled {
  background-color: #999;
  color: #fff;
  border-color: #666;
}

.btn--stripe:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
} 

/* .btn--stripe:disabled:after,
.btn--stripe:hover:after {
  background-image: -webkit-repeating-linear-gradient(
    45deg,
    #fff,
    #fff 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 1px,
    transparent 2px,
    transparent 5px
  );
  border-top: 1px solid #000;
} */
